.pp-checkout {
color: transparent;
font: 0/0 a;
text-shadow: none;
width: 195px;
height: 37px;
background: url(https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-medium.png) center 48%/auto 37px no-repeat;
-ms-border-radius: 5px;
-o-border-radius: 5px;
border-radius: 5px;
box-shadow: inset 0 1px 0 0 #fff6e9;
vertical-align: baseline;
zoom: 1;
float: left;
display: block;
}
